<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <style>
        .container {
            display: flex;
            justify-content: space-between;
            align-items: start;
        }
        .sidebar {
            padding: 20px;
            background-color: #f2f2f2;
        }
        .sidebar ul {
            list-style: none;
            padding: 0;
        }
        .sidebar li {
            margin-bottom: 10px;
        }
        .content {
            flex: 1;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'index' %}" style="display: block;">Домашняя страница</a></li>
                <li><a href="{% url 'add_coin' %}" style="display: block;">добавить монету</a></li>
                <li><a href="{% url 'get_collection' %}" style="display: block;">коллекции</a></li>
            </ul>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="sidebar">
            <ul>
                <li>{{ request.user }}</li>
                <li><a href="{% url 'login' %}" style="display: block;">Войти</a></li>
                <li><a href="{% url 'logout' %}" style="display: block;">Выйти</a></li>
                <div id="time"></div>
                <script>
                  function updateTime() {
                    var now = new Date();
                    var hours = now.getHours();
                    var minutes = now.getMinutes();
                    var seconds = now.getSeconds();
                    document.getElementById('time').innerHTML = hours + ':' + minutes + ':' + seconds;
                  }
                  setInterval(updateTime, 1000); // Вызывать функцию updateTime каждую секунду
                </script>
         </ul>
        </div>
    </div>
</body>
</html>